@font-face {
	font-family: 'icomoon';
	src:url('/files/fonts/icomoon.eot?klzpen');
	src:url('/files/fonts/icomoon.eot?#iefixklzpen') format('embedded-opentype'),
		url('/files/fonts/icomoon.ttf?klzpen') format('truetype'),
		url('/files/fonts/icomoon.woff?klzpen') format('woff'),
		url('/files/fonts/icomoon.svg?klzpen#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e604";
}
.icon-mail:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-feed:before {
	content: "\e605";
}
.icon-github:before {
	content: "\e602";
}
.icon-linkedin:before {
	content: "\e603";
}
